; This is configuration file for WVWMS router

[wvwms_config]              ; Parameters for router configuration

zero_level=8000000          ; default ADC offset which we assume as zero on 
                            ; weight scale
                            
voltage_mul=1               ; multiplier which is used to calculate mV/V from
                            ; raw ADC, depends on selected ADC range

voltage_div=1               ; divider which is used to calculate mV/V from
                            ; raw ADC, depends on selected ADC range                            
                            
weight_mul=1                ; multiplier which is used to calculat weight based
                            ; on voltage

weight_div=1                ; divider which is used to calculat weight based on 
                            ; voltage